.field{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 550px;
    width: 900px;
    border: #1d4a2f solid 1px;
    border-radius: 10px;
    position: relative;
    margin-left: 320px;
    /*position: relative;*/
    /*position: fixed;*/
    /*position: absolute;*/
    /*margin-left: 0px;*/
}