.field{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 550px;
    width: 900px;
    top: 10px;
    border: #006561 solid 1px;
    box-shadow: #1D7471 0 5px 10px;
    border-radius: 10px;
    position: relative;
    margin-left: 250px;
    /*position: relative;*/
    /*position: fixed;*/
    /*position: absolute;*/
    /*margin-left: 0px;*/
}